body {
    background: linear-gradient(to bottom, #000 61%, #1f45ad 66%, #091587 72%, #0518C3 83%, #011AFE 88%);
  }
  
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    } 
  
  
    .about-section,
    .benefits-section,
    .history-section {
      margin-bottom: 40px;
    }
  
  .benefits-section {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    }
  
  
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.1rem;
      line-height: 1.6;
      color: #d3d3d3;
    }
  
    .image-container {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      padding: 10px;
    }
  
    .image-container img {
      width: 100%;
      max-width: 600px;
      height: auto;
    }
  
    .about-section {
      display: flex;
      margin-right: 100px;
      margin-left: 100px;
      justify-content: center;
      align-items: center;
    }
  
      .history-section {
        text-align: center;
      }
  
  
    .about-moedas {
      margin-left: 70px;
    }
  
    .titulo {
      font-size: 3.5rem;
      display: flex;
      justify-content: center;
      margin-top: 100px;
      background-image: url(../assets/fundomoedas.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  
    .benefits {
      display: flex;
      justify-content: end;
      margin-right: 300px;
    }
  
    .carromahindra {
   
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-image: url(../assets/carro.png);
        background-position: center;
  
    }
  
    @media (max-width: 768px) {
      .header h1 {
        font-size: 2rem;
      }
  
      .header p {
        font-size: 1rem;
      }
  
      h2 {
        font-size: 1.5rem;
      }
  
  
      p {
        font-size: 1rem;
        margin: 100px;
      }
  
      .texto {
        margin-right: 100px;
  
      }
  
  
      .image-container img {
        max-width: 100%;
      }
    }