.news-page {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: linear-gradient(to bottom, #000 61%, #111 66%, #091587 72%, #0518C3 83%, #011AFE 88%);
  }
  
  .h2-news {
    margin-top: 95px;
  }

  .p-news {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #d3d3d3;
  }
  .calendar-races{
    text-align: justify;
  }
  .womans-day{
    text-align: justify;
    text-align: justify;
    text-justify: justify;
    text-justify: auto;
  }
  .titulo {
    background-image: url(../assets/fundomoedas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  
  
  .noticia-section {
      display: flex;
      flex-direction: row-reverse;
      margin-right: 100px;
      margin-left: 100px;
  }

  .news-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    gap: 20px;
  }

  .news-section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 100px;
    gap: 20px;
  }

  .noticia {
      margin-left: 70px;
  }
  
  .piloto {
      width: 100%;
      height: 500px;
      background-repeat: no-repeat;
      background-image: url(../assets/piloto.png);
      background-position: center;
  }
  
  @media (max-width: 768px) {
      .news-section, .news-section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0 10px;
        gap: 20px;
      }

      .noticia-section {
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
      }
    
      .news-section .image-container {
        flex: 1;
      }
    
      .news-section p {
        flex: 1;
      }

      .h2-news {
        font-size: 1.5rem;
      }
      
      .noticia{
        margin: 0;
      }
  
      .p-news {
        font-size: 1rem;
        margin: 0;
      }
      .piloto {
        background-size: cover;
        height: 200px;
      }
  }
  
  .p-meio {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }